<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <link href="/assets/css/styles.css" rel="stylesheet"/>
    <link href="" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rotobo+Slab"/>
    <title>{{ site.title }}</title>
  </head>
  <div id="header-container">
    <div id="header-content">
      <h1>{{ site.title }}</h1>
      <h2 id="tagline">{{ site.description }}</h2>
    </div>
  </div>
  <div class="row">
    <div id="content" class="column-left">
      {{ content }}
    </div>
    <div id="tags" class="column-right">
      {% include tags.html %}
    </div>
  </div>
  {% include footer.html %}
</html>
